[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
pylint = "*"
black = "*"

[packages]
pip = "20.1"
paho-mqtt = "*"


[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
